body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.audio-player {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #eaeaea;
  width: 80%;
  max-width: 700px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.player-main {
  display: flex;
  justify-content: space-between;
}

.playlist {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  height: 400px;
  overflow-x: hidden;
  width: 45%;
}

.track {
    background-color: #ddd;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.track:hover {
    background-color: #ccc;
}

.track-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: left;
}

.artist-photo {
  max-width: 90%;
  border-radius: 10px;
  margin-bottom: 10px;
}

audio {
    width: 100%;
}

.controls {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #666;
}

#timeline {
  width: 50%;
}

#volume-control {
  width: 10%;
}
